USE [master]
GO
/****** Object:  Database [PutovanjaEU]    Script Date: 4/10/2025 8:45:51 PM ******/
CREATE DATABASE [PutovanjaEU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PutovanjaEU', FILENAME = N'C:\Users\vukasin\PutovanjaEU.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PutovanjaEU_log', FILENAME = N'C:\Users\vukasin\PutovanjaEU_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PutovanjaEU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PutovanjaEU]
GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 4/10/2025 8:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnik](
	[ime] [nvarchar](50) NOT NULL,
	[prezime] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[jmbg] [numeric](13, 0) NOT NULL,
	[broj_pasosa] [numeric](18, 0) NOT NULL,
	[korisnicko_ime] [nvarchar](50) NOT NULL,
	[sifra] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Korisnik] PRIMARY KEY CLUSTERED 
(
	[jmbg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prijava]    Script Date: 4/10/2025 8:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prijava](
	[zemlja] [nvarchar](200) NOT NULL,
	[jmbg] [numeric](13, 0) NOT NULL,
	[broj_pasosa] [numeric](18, 0) NOT NULL,
	[datum_ulaska] [date] NOT NULL,
	[datum_izlaska] [date] NOT NULL,
	[nacin_prevoza] [nvarchar](20) NOT NULL,
	[id_prijave] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Prijava] PRIMARY KEY CLUSTERED 
(
	[id_prijave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stanovnistvo]    Script Date: 4/10/2025 8:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stanovnistvo](
	[ime] [nvarchar](50) NOT NULL,
	[prezime] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[jmbg] [numeric](13, 0) NOT NULL,
	[broj_pasosa] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_Stanovnistvo] PRIMARY KEY CLUSTERED 
(
	[jmbg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Prijava]  WITH CHECK ADD  CONSTRAINT [FK_Prijava_Korisnik] FOREIGN KEY([jmbg])
REFERENCES [dbo].[Korisnik] ([jmbg])
GO
ALTER TABLE [dbo].[Prijava] CHECK CONSTRAINT [FK_Prijava_Korisnik]
GO
ALTER TABLE [dbo].[Korisnik]  WITH CHECK ADD  CONSTRAINT [CK_Korisnik] CHECK  ((len([jmbg])=(13)))
GO
ALTER TABLE [dbo].[Korisnik] CHECK CONSTRAINT [CK_Korisnik]
GO
ALTER TABLE [dbo].[Prijava]  WITH CHECK ADD  CONSTRAINT [CK_Prijava] CHECK  ((len([jmbg])=(13)))
GO
ALTER TABLE [dbo].[Prijava] CHECK CONSTRAINT [CK_Prijava]
GO
ALTER TABLE [dbo].[Stanovnistvo]  WITH CHECK ADD  CONSTRAINT [CK_Stanovnistvo] CHECK  ((len([jmbg])=(13)))
GO
ALTER TABLE [dbo].[Stanovnistvo] CHECK CONSTRAINT [CK_Stanovnistvo]
GO
USE [master]
GO
